@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Poppins&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f0f0f0;
  --primaryColor: black;
}
body {
  font-family: "Mooli", sans-serif;
  /* background-color: var(--bg); */
  scroll-behavior: smooth;
}

.webName {
  align-items: baseline;
}
.webName i {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #f37d3a;
}
.webName span {
  color: #f37d3a;
  font-weight: bold;
}
.buyBtn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  background: #f37d3a;
  font-size: 0.7rem;
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1.2px;
  margin-left: 15px;
  border: none;
  outline: none;
  transition: 0.8s all;
}

.buyBtn:hover {
  background: #ffffff;
  color: black;
  border: 1px solid black;
  transition: 0.8s all;
}
a {
  text-decoration: none;
  color: unset;
}
button {
  cursor: pointer;
}

/* Navbar css Start  */
.navbar {
  margin: 1rem 0;
  display: flex;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  align-items: center;
  /* padding: 0 2rem; */
  justify-content: space-evenly;
  /* position: fixed; */
  width: 100%;
  background-color: white;
  display: none;
  transition: all 0.5s;
}

.imgLogo {
  display: flex;
  align-items: center;
}
.imgLogo p {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 8px;
}
.imgLogo img {
  width: 7rem;
  height: 7rem;
}

.searchComponent {
  border: 1px solid black;
  padding: 5px 1rem;
  border-radius: 10px;
}
.searchComponent #search {
  border: none;
  outline: none;
  width: 20rem;
}

.navLink ul {
  display: flex;
  align-items: center;
}

.navLink ul li {
  list-style: none;
  margin: 0 2rem;
}

.navLink ul li a {
  text-decoration: none;
}

.navLink ul li .counter {
  color: red;
}

.navLink ul .signUp {
  padding: 6px;
  font-size: 12px;
}
.navLink ul .signIn {
  background: none;
  outline: none;
  border: none;
  margin: 10px ; 
  font-weight: bold;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

/* CSS */
.signUp {
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;

  line-height: 1.25;

  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.signUp:hover,
.signUp:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.signUp:hover {
  transform: translateY(-1px);
}

.signUp:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.signIn_popUp {
  display: none;
  position: absolute;
  left: 37rem;
  position: absolute;
  top: 16rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: whitesmoke;
}
.signUp_popUp {
  display: none;
  position: absolute;
  left: 37rem;
  position: absolute;
  top: 16rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: whitesmoke;
}
.signIn_popUp h2 {
  text-align: center;
  padding: 1.5rem;
  text-transform: capitalize;
}
.signUp_popUp h2 {
  text-align: center;
  padding: 1.5rem;
  text-transform: capitalize;
}
.signInBtn {
  padding: 8px 15px;
}
.usernameIs{
  margin: 10px 2rem;

}

.passwordIs{
  margin: 0 2rem;
}
.signIn_popUp form {
  height: 20rem;
  padding: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp_popUp form {
  height: 20rem;
  padding: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signIn_popUp .form-group {
  margin: 1rem;
  width: 13rem;
}
.forget_password {
  color: rgba(0, 0, 255, 0.54);
  text-decoration: underline;
}
.signUp_popUp form .form-group {
  margin: 1rem;
}

/* Navbar css end  */

/* Main section Start  */
.mainSec {
  display: flex;
  background-color: var(--bg);
  flex-direction: row;
  padding: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 40rem;
}

.leftBoxMain h2,
p {
  margin: 1rem 0;
}

.leftBoxMain h2 {
  font-size: 3rem;
  width: 33rem;
}
.leftBoxMain button {
  height: 2rem;
  width: 6rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

.rightBoxMain img {
  width: 30rem;
  transition: all 1s;
}
.rightBoxMain img:hover {
  transition: all 1s;
  width: 40rem;
  transform: rotate(22deg);
}
/* Main section End  */

/* <!-- Product Section Start --> */

.productSection {
  margin: 2rem 0;
}

.productHeading {
  text-align: center;
  width: 20rem;
  margin: 2rem auto;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-shoe {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.product-shoe a {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1rem;
  font-weight: bold;
}
.product-shoe a i {
  margin: 0 2rem;
}
.product-shoe .shoeImg {
  width: 16rem;
  height: 23rem;
  background-color: var(--bg);
  padding: 1rem;
  margin: 3rem 0;
}

.product-shoe .shoeImg img {
  transition: ease-in-out 1s;
  width: 15rem;
}

.product-shoe .shoeImg img:hover {
  width: 16rem;
  transition: ease-in-out 1s;
}

.product-links {
  position: absolute;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 30rem;
  /* border: 1px solid; */
  top: 41px;
  right: 9rem;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: white;
}
.product-links li {
  margin: 1rem;
  width: 5rem;
  font-size: 11px;
  transition: all 0.6s ease 0s;
  padding: 1rem 0;
  text-align: center;
}

.product-links li:hover {
  transition: all 0.6s;
  border: 1px solid rgba(128, 128, 128, 0.527);
  border-radius: 8px;
  padding: 1rem 0;
}
/* <!-- Product Section END --> */

/* Looks Section Start */

.lookSec {
  background: url(/images/Looks/look1.jpg) no-repeat center center/cover;
  height: 50rem;
  margin: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.34);
}

.lookSec h2 {
  color: white;
  font-size: 3rem;
  padding: 0 2rem;
}

.lookSec p {
  width: 30rem;
  color: white;
  text-align: center;
}

.lookSec button {
  height: 3rem;
  width: 18rem;
  margin: 2rem 0;
  background: none;
  color: white;
  font-weight: bold;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
}

/* Looks Section End */
.showHam {
  display: none;
  right: 3rem;
  position: absolute;
  top: 8px;
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 5px;
}

.showHam i {
  position: absolute;
  font-size: 2rem;
}

.show {
  opacity: 1;
  display: flex;
  transition: all 1s;
}
.hide {
  opacity: 0;
  display: none;
  transition: all 0.5s;
}

@media screen and (min-width: 1190px) {
  .navbar {
    display: flex;
  }
}

@media screen and (max-width: 1190px) {
    .signUp_popUp {
        top: 5rem;
        left: 22rem;
        
      } 

      .signIn_popUp {
        top: 5rem;
        left: 22rem;
        
      }
      .navLink ul .signIn {
        margin: 10px 0;
      }
  .showHam {
    display: block;
  }

  .navbar {
    position: initial;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s;
    padding: 0 5rem;
  }

  .searchComponent #search {
    width: 10rem;
  }

  .imgLogo {
  }
  .navLink ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navLink ul li {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 746px) {

    .signUp_popUp {
        top: 5rem;
        left: 18rem;
      }    

      .signIn_popUp {
        top: 5rem;
        left: 18rem;
        
      }  
      .product-filter_sec-search #product_search {
    width: 18rem;
  }
  .showHam {
    display: block;
  }
  .imgLogo {
    margin: 2rem 0 0 0;
  }

  .lookSec {
    margin: 0;
  }

  .lookSec p {
    width: 100%;
  }

  .rightBoxMain img:hover {
    transition: all 1s;
    width: 20rem;
    transform: rotate(22deg);
  }
  .rightBoxMain img {
    width: 20rem;
    transition: all 1s;
  }

  .leftBoxMain h2 {
    font-size: 2rem;
    width: 18rem;
  }
  .productHeading {
    width: 100%;
  }
}

/* Order List Cart */

i {
  cursor: pointer;
}

.cartList {
  width: 30rem;
  border: 1px solid rgba(0, 0, 0, 0.341);
  margin: 2rem;
  /* height: 50rem; */
  position: absolute;
  top: 80px;
  right: 0;
  background: white;
  display: none;
  border-radius: 12px;
  /* opacity: 0; */
}

.cartList i {
  margin: 1rem;
  font-size: 2rem;
}

.orderDetails {
  display: flex;
  /* width: 30rem; */
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid black;
  padding: 1.5rem;
}

.orderDetails h2,
p {
  /* border-bottom: 2px solid black; */
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}

#totalPrice {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
#totalP {
  font-size: 1.5rem;
  margin: 0 2rem;
  width: 20rem;
}

.backCart {
  cursor: pointer;
}

.itemDetail {
  border-bottom: 2px solid black;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}

.itemDetail img {
  width: 5rem;
}

.itemDetail .rightSide {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.itemDetail .leftSide .itemName,
.itemDeliveryDate {
  font-size: 10px;
  width: 5rem;
}

.itemDetail .rightSide .iconPlus {
  margin: 0 20px;
}

.itemDetail .rightSide .inc,
.dec {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0 5px;
}
.itemDetail .rightSide .price {
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .signUp_popUp {
    left: 1.5rem;

    top: 31rem;
  }
  .signIn_popUp {
       top: 31rem;
    left: 1.5rem;
}
    
  }
  .buyBtn {
    padding: 10px 21px;
  }
  #totalP {
    font-size: 1rem;
    width: 12rem;
  }
  .cartList {
    width: 20rem;
    margin: auto;
  }
  .iconPlus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconPlus #counter {
    margin: 1rem;
  }

  .itemDetail {
    flex-direction: row;
    padding: 1rem;
  }
  .itemDetail .rightSide {
    flex-direction: column;
  }
  .itemDetail .leftSide {
    display: flex;
    flex-direction: column;
  }

  .itemDetail .leftSide .itemName,
  .itemDeliveryDate {
    font-size: 11px;
    width: 5rem;
    padding: 4px;
  }
  .itemDetail img {
    width: 5rem;
  
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
